$browser-default-font-size: 14;
$browser-default-font-size-px: 14px !default;

$base-theme-default:       #33a3dc !default;
$base-theme-success:       #00b15b !default;
$base-theme-info:          #2db7f5 !default;
$base-theme-warning:       #ffba34 !default;
$base-theme-error:         #e93a3a !default;