@import '../../styles/core/index';
.checkbox-group-ui{
  label{
    margin-right:r(15);
  }
}
.disabled{
  color:#999;
  .checkbox-ui {
    &.checked {

      .checkbox-inner-ui {
        border-color: #ddd;
        background-color: #ddd;
      }
    }
    .checkbox-inner-ui{
      border-color:#ddd;
    }
  }
}
.checkbox-ui{
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  margin-right:r(5);
  &.checked {

    .checkbox-inner-ui {
      border-color: #33a3dc;
      background-color: #33a3dc;

      &:after {
        transform: rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }
  .checkbox-inner-ui {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: r(16);
    height: r(16);
    border: 1px solid #9FAAB5;
    border-radius: r(3);
    background-color: #fff;
    transition: border-color .1s cubic-bezier(.71, -0.46, .29, 1.46), background-color .1s cubic-bezier(.71, -0.46, .29, 1.46);

    &:after {
      transform: rotate(45deg) scale(0);
      position: absolute;
      left: r(4);
      top: r(1, true);
      display: table;
      width: r(6);
      height: r(9);
      border: r(2) solid #fff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all .1s cubic-bezier(.71, -0.46, .88, .6);
    }
  }
}