@import '../../styles/index.scss';
.PaInput-ui{
  width:100%;
  height:r(45);
  box-sizing: border-box;
  padding:0 r(15);
  .PaInput-wrap{
    width:100%;
    height:100%;
    border-radius:r(6);
    border:1px solid #666;
    font-size:r(16);
    color:#999;
    position:relative;
    &.wrong{
      border-color:red;
    }
    input{
      width:100%;
      height:100%;
      border:none;
      background:transparent;
      text-indent: 1em;
      color:#333;
    }
    .PaInput-title{
      position:absolute;
      top:0;left:r(6);
      height:100%;
      line-height:r(45);
      transition:0.4s all ease;
      background:#fff;
      padding:0 r(10);
      &.PaInput-title-up{
        top:r(-12);
        height:r(20);
        line-height:r(20);
        transform:scale(0.6) translateX(r(-12));
      }
    }
    .PaInput-warn{
      position:absolute;
      background:rgba(0,0,0,0.8);
      border-radius:r(6);
      padding:r(5) r(10);
      right:r(4);top:r(-23);
      font-size:12px;
      display:none;
      &:after{
        width:0;
        height:0;
        content:"";
        position:absolute;
        right:r(15);
        bottom:r(-10);
        border:r(5) solid transparent;
        border-top:r(5) solid rgba(0,0,0,0.8);
      }
      &.show{
        display:block;
      }
    }
    .input-right-icon {
      width: r(24);
      height:r(24);
      box-sizing: border-box;
      display: none;
      position:absolute;
      right:r(12);top:50%;
      transform:translateY(-50%);
      &.clear {
        display: block;
        background: url("../../images/icon-clear.png") 50% 50% no-repeat;
        background-size: 100%;
      }
      &.warn {
        display: block;
        background: url("../../images/icon-warning.png") 50% 50% no-repeat;
        background-size: 100%;
        pointer-events: none;
      }
    }
  }
}