@import '../core/index';
.myScroll{
    .wrapper{
        width:100%;
        height:r(300);
        border:r(2) solid red;
        .scroll-list{
            width:100%;
            li{
                width:100%;
                height:r(50);
                border-bottom:1px solid #ddd;
                box-sizing: border-box;
                text-indent: 1em;
                line-height: r(50);
                background: #fff;
            }
        }
    }
    .upload-text{
        width:100%;
        height:r(40);
        line-height:r(40);
        color:#999;
        text-align: center;
        display: block;
    }
}