@import '../core/index';
.index-page{
	.logo{
		width:100%;
		img{
			width:100%;
		}
		border-bottom:1px solid #ddd;
	}
	.main{
		padding:r(10) r(15);
	}
	.norm_block{
		height:r(10);
	}
	.mySwitch{
		position:absolute;
		right:r(20);
		top:50%;
		transform:translateY(r(-10));
	}
}