@import '../core/index';
.index-page{
	.main{
		padding:r(15);
	}
	.brand{
		padding:r(30) 0 0 r(20);
		h2{
			font-weight:normal;
			font-size:r(30);
		}
	}
	.norm_block{
		height:r(10);
	}
	.mySwitch{
		position:absolute;
		right:r(20);
		top:50%;
		transform:translateY(r(-10));
	}
}