@import '../../styles/core/index';
.radio-group-ui{
  label{
    margin-right:r(15);
  }
}
.disabled{
  color:#999;
  .radio-ui {
    &.checked {

      .radio-inner-ui {
        border-color: #ddd;
        background-color: #ddd;
      }
    }
    .radio-inner-ui{
      border-color:#ddd;
    }
  }
}
.radio-ui{
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  margin-right:r(5);
  &.checked {

    .radio-inner-ui {
      border-color: #0677DA;
      background-color: #0677DA;

      &:after {
        transform: translate(-50%,-50%) rotate(45deg) scale(1);
        transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }
  .radio-inner-ui {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: r(20);
    height: r(20);
    border: 1px solid #9FAAB5;
    border-radius: 100%;
    background-color: #fff;
    transition: border-color .1s cubic-bezier(.71, -0.46, .29, 1.46), background-color .1s cubic-bezier(.71, -0.46, .29, 1.46);

    &:after {
      transform: translate(-50%,-50%) rotate(45deg) scale(0);
      position: absolute;
      left: 50%;
      top: 50%;
      display: table;
      width: r(6);
      height: r(9);
      border: 1px solid #fff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      transition: all .1s cubic-bezier(.71, -0.46, .88, .6);
    }
  }
}