@import '../../styles/index';
.pullUp-ui{
  .pullUp-wrapper-ui{
    width:100%;
    height:r(100);
    overflow: hidden;
    position:relative;
  }
  .upload-text{
    width:100%;
    height:r(40);
    line-height:r(40);
    color:#999;
    text-align: center;
    display: block;
  }
}